.login {
    background-image: url('https://i.guim.co.uk/img/media/3aab8a0699616ac94346c05f667b40844e46322f/0_123_5616_3432/master/5616.jpg?width=700&quality=85&auto=format&fit=max&s=a476da702aff265ce6f586be1412b1e1');
    width: 100vw;
    height: 100vh;
    background-color: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginWrapper {
    width: 40%;
    height: 40%;
    display:flex;
}
.loginRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.loginBox{
    height: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.inputLabel {
    font-size: 24px;
}
.loginInput {
    height: 40px;
    border-radius: 20px;
    border: 1px solid gray;
    font-size: 24px;
    padding-left: 20px;
}.loginButton {
    margin-top: 50px;
    border-radius: 30px;
    height: 60px;
    width: 200px;
    font-size: 24px;
    align-self: center;
    background-color: cadetblue;
    color: azure;
}
.forgotPassword {
    font-size: 16px;
    align-self: center;
    text-decoration: underline;
}
.grid-container {
    display: grid;
    grid-template-columns: 120px auto ;
    margin-bottom: 30px;
  }